*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* este es el cuerpo y la fuenta  */

body {
background-color: #0f172a;
}

/* este es el titulo  */

h1{
    color: #e5e7eb;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* este es el div padre, el que contiene todos los elementos */


#container-max{
    background-color: #1e293b;
    border-radius: 0.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


/* vamos con la entrada de tareas  */

.add-work{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input{
    background-color: #cbd5e1;
    padding: 0.7rem;
    margin: 10px;
    width: 85%;
    border-radius: 0.4rem;
}

.buttonAdd{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: aliceblue;
  font-size: 25px;
  background-color: #9349d8;
  cursor: pointer;
  margin-right: 4%;
}

/* ahora vamos con las listas  */


.works {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }

ul{
    padding: 0;
    list-style: none;

}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border: 1px solid #494848;
    word-break: break-all;
}

.button1 , .button2{
    padding: 1rem;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.button1{
    background-color: red;
    color: aliceblue;
    border: 1px solid #494848;
    cursor: pointer;
}

.button2 {
    background-color: green;
    color: whitesmoke;
    border-left: 1px solid #494848 ;

}

/* ya esta es la parte de los resultados */

.control{
    display: flex;
    justify-content: space-evenly;
}

.Completes{
    padding: 10px;
    background-color: #005D5D;
    margin: 10px;
    border-radius: 5px;
}

.Incompletes{ 
    padding: 10px;
    background-color: #FF5252;
    margin: 10px;
    border-radius: 5px;
}

.total{
    padding: 10px;
    background-color: #00E676;
    margin: 10px;
    border-radius: 5px;
  }

  
  /* ahora vamos con los @media */

  /* para celulares y tablets */

@media (min-width: 426px) {
    #container-max {
        width: 80vw; 
        margin: 0 auto; 
    }
   
}

/* portatiles */

@media (min-width: 769px) {
    h1{
        font-size: 3rem;
    }
    #container-max {
        width: 70vw; 
        margin: 0 auto; 
    }
}


@media (min-width: 1440px) {
    h1{
        font-size: 5rem;
    }
    #container-max {
        width: 70vw; 
        margin: 0 auto; 
        font-size: 1.8rem;
    }

    .works{
        max-height: 20vw;
        overflow-y: auto;
    }
    

    input{
        font-size: 1.5rem;
            }
    button{
        font-size: 2.5rem;
    }
    .buttonAdd{
        width: 3vw;
        height: 3vw;
        font-size: 2rem;
    }
}

/* televisores 4k */

@media (min-width: 2560px) {
    h1{
        font-size: 7rem;
    }
    #container-max {
        width: 50vw;
        margin: 0 auto; 
        font-size: 3rem;
    }

.works{
    max-height: 15vw;
    overflow-y: auto;
}

 input{
    font-size: 2rem;
}
button{
    font-size: 4rem;
}
.buttonAdd{
    width: 3vw;
    height: 3vw;
    font-size: 4rem;
}
}

/* si llego hasta aqui me gustaria dejarle unos comentarios
primero lo mas importante :
si no es molestia, seria me gustaria que dejara algunas recomendaciones
o comentarios, bien sea en clases o en plataforma
 para poder mejorar en programacion y en el ambiente en el que 
 nos estamos desenvolviendo en con todo este aprendizaje
 -----------------------------------------------------
 
 ahora lo menos importante:
 Sabe usted que le dijo el CSS al HTML?
 no tienes estilo amigo JAJAJJAJAAJJAAJ
 ok ok
 ¿sabe porque el div entro al bar?
 Para añadir algo de clase a su vida social AJAJASJAJSJAAS
 SJASDSJjjjsajjajasjaJajsJSAJJAJAJJAJSJASSJDJASDCONVULSIONAJASDJASJALKSJFHLKJSDHALK*/